//this is set to the same height as the navbar
body {
  background-color: #00a4e3 !important;
  padding-top: 98px;
  @media (max-width: 768px) {
    padding-top: 90px;
  }
}
//example of media query if needed to use
// @media (min-width: 600px) {
//   body {
//     padding-top: 400px;
//   }
// }
.space {
  padding: 10px;
}


.service-image {
  max-width: 300px;
}

.fakeimg {
  max-height: 200px;
  background: #aaa;
}



.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}




//button css

//put up on heroku site to let mom look/think/review it


