//this is set to the same height as the navbar
body {
  padding-top: 98px;
  @media (max-width: 768px) {
    padding-top: 90px;
  }
}
//example of media query if needed to use
// @media (min-width: 600px) {
//   body {
//     padding-top: 400px;
//   }
// }
.space {
  padding: 10px;
}


.service-image {
  max-width: 300px;
}

.fakeimg {
  max-height: 200px;
  background: #aaa;
}



//button css

//put up on heroku site to let mom look/think/review it


