.carousel {
  display: block;
  width: 100vw;
  height: 40rem;
}

.carousel .item {
  height: 40rem;
  width: 100vw;
  @include desktop {
    width: 100vw;
  }
}

.item img {
  position: absolute;
  min-height: 0px;
}