.footer {
  background: $footer-bg;
  color: $footer-color;
}

.footer__content {
  align-items: center;
  display: flex;
  height: $footer-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.footer__title {
  margin: 0;
}

.footer__nav-toggle {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  @include desktop {
    display: none;
  }
}

.searchbar {
  color: black;
}