//jumbotron
.title-jumbotron {
  background-color: white !important;
  border-radius: 0 !important;
}

.image-jumbotron {
  max-height: 50% !important;
}

.jumbo-pad {
  padding-right: 4rem!important;
}

.jumbo-lsmhockeylogo {
  max-width: 200px !important;
}