.navbar {
  min-height: 90px;
  display: block;
  position: fixed;
}

.custom-nav {
  background: #aa6c39;
  color:white;
  justify-content: space-between;
  @media (max-width: 768px) {
    justify-content: end;
  }
}


.custom-navbar-logo {
  max-width: 15rem;
  max-height: 4.5rem;
  @media (max-width: 576px) {
    max-width: 8.5rem;
  }
}

.lsmhockeylogo {
  max-height: 4.5rem;
  @media (max-width: 576px) {
    max-height: 3.5rem;
  }
}
