.content {
  background-color: black;
}

.page-content {
  background-color: gold;
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex;
  transition: left .3s ease;
  width: 100vw;

  position: fixed;
  top: $header-height;
  left: -100vw;
  right: 0;
  bottom: 0;
  z-index: 1;

  @include desktop {
    display: flex;
    // padding-right: $large-space;
    // position: static;
    // width: $page-content-sidebar-width;
    width: 0;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}

.page-content__main {
  display: block;
  width: 100vw;
  background-color: gold;
}


.page-content__grid-images {
  display: flex;
}


@media (min-width: 1200px) {
  div .container {
    display: block;
    width: ($site-max-width - 5rem);
  }
}